* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
}

header {
    background-color: #333;
    padding: 10px 0;
}

.menu {
    display: flex;
    justify-content: start;
    list-style: none;
    margin-top: 10px;
    margin-left: 30px;
}

.menu li {
    margin: 0 15px;
}

.menu a {
    text-decoration: none;
    color: #ccc;
    font-weight: bold;
}

.menu a:hover {
    text-decoration: underline;
}

#intro {
    text-align: center;
    padding: 200px 20px;
    background-color: #e59875;
    color: #000;

 h1 {
    font-size: 2.5rem;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

 h1 img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

 p {
    font-size: 1.2rem;
}
}


footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    width: 100%;
    bottom: 0;
}
